

  <%- include('partials/_header'); %>
    <!-- Container here -->

    <div class="container">
      <h1>Productos LIDER</h1>
      <div class="card-columns">
          <% productosIndex.forEach(function(producto){ %>
            <!-- style="width: 18rem;" -->
          <div class="card p-4 mx-auto" >
              <img src="https://<%= producto.image %>" class="card-img-top" alt="..." width="120" height="120">
              <div class="card-block">
                <h5 class="card-title"><%= producto.brand %></h5>
                <p class="card-text"><%= producto.description %></p>
                <a href="#" class="btn btn-primary">$<%= producto.price %></a>
              </div>
          </div>
          <% }) %>
      </div>
    </div>


  <%- include('partials/_footer'); %>
